@model CooksCornerAPP.Data.ApplicationUser

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contactpagina</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="~/css/ChangePassword.css" asp-append-version="true" />
</head>
<body>
    @Html.ValidationSummary()
    <div class="ChangePassword">
        <h1> Change Password  </h1> <br />
        <form asp-action="UpdatePassword" asp-route-id="@Model.Id" method="post" class="form-contactpagina">
          <div class="form-outline mb-4">
            <label class="form-label" for="Password">
               <input type="password" class="form-control" placeholder="password" required />
               <span class="error" aria-live="polite"></span>
            </label>
          </div>
            <input class="form-contactpagina__submit" type="submit" value="Change Password" />

        </form>
        @if (TempData["msg"] != null)
        {
            <div class="form-group">
                <span class="text-info">@TempData["msg"]</span>
            </div>
        }
   </div>
</body>
</html>