
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contactpagina</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="form-contactpage">
        <h1>ForgotPasswordConfirmation</h1>
        <p style = "margin: auto; text-align: center; ">
            The link has been sent, please check your email to reset your password.
        </p>

    </div>

</body>
</html>