<html>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<h1>ResetPasswordConfirmation</h1>

<body>
    <div class="form-contactpage">
        <p>
            Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
        </p>
    </div>
</body>
</html>

