@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contactpagina</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="~/css/LunchPage.css" asp-append-version="true" />
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Explore Lunch recipes</h1>
        </div>
        <div class="recipes">
            <div class="card">
                <div class="img"> </div>
                <div class="content">
                    <h3 class="categoryName"> CategoryName </h3>
                    <h4 class="name"> Product Name </h4> <br />
                    <div class="review-container">
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                            <span> 3 Ratings </span>
                        </div>
                    </div> <br />
                    <div class="button-container">
                        <div class="like-button">
                            <i class="fa fa-heart"> </i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="img"> </div>
                <div class="content">
                    <h3 class="categoryName"> CategoryName </h3>
                    <h4 class="name"> Product Name </h4> <br />
                    <div class="review-container">
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                            <span> 3 Ratings </span>
                        </div>
                    </div> <br />
                    <div class="button-container">
                        <div class="like-button">
                            <i class="fa fa-heart"> </i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="img"> </div>
                <div class="content">
                    <h3 class="categoryName"> CategoryName </h3>
                    <h4 class="name"> Product Name </h4> <br />
                    <div class="review-container">
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                            <span> 3 Ratings </span>
                        </div>
                    </div> <br />
                    <div class="button-container">
                        <div class="like-button">
                            <i class="fa fa-heart"> </i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="img"> </div>
                <div class="content">
                    <h3 class="categoryName"> CategoryName </h3>
                    <h4 class="name"> Product Name </h4> <br />
                    <div class="review-container">
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                            <span> 3 Ratings </span>
                        </div>
                    </div> <br />
                    <div class="button-container">
                        <div class="like-button">
                            <i class="fa fa-heart"> </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

